<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Chea 17-18</title>
    <link rel="stylesheet" href="{% static 'css/team.css' %}">
    <link rel="shortcut icon" href="{%static 'images/icon.ico' %}" >
    <link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">

      <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <!-- <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Unica+One" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
      <div class="rightbar">
        <br><br><br><br><br>
          <p class="content">"Coming together is a beginning.<br>&ensp;Keeping together is progress<br>&ensp;Working together is success."<br>&emsp;&emsp;<span class="name">--Henry Ford</span></p>
          <ul class="link">
          <div class="lis">
            <li><a href="{% url 'iicheteam' %}">IIche Team 18-19</a></li>
          </div>
          <div class="lis">
            <li><a href="{% url 'team' %}">CheA Team 18-19</a></li>
          </div>
          <div class="lis">
              <li><a href="{% url 'iicheteam17' %}">IIche Team 17-18</a></li>
          </div>

          </ul>
      </div>
      <div class="heading">
        <h2 class="main">Elem<br>&ensp;ents<span class="sub">TEAM</span></h2>
      </div>
      <div class="box1" onmouseover="change1()" onmouseout="revert1()">
        <p class="number">1</p>

        <p class="el">Ac</p>
        <p class="name">Apurva Choudhary<br><span class="position">Secretary|CheA</span></p>
      </div>
      <div class="box2" onmouseover="change2()" onmouseout="revert2()">
        <p class="number">2</p>

        <p class="el">Rj</p>
        <p class="name">Ranul Jain<br><span class="position">Additional Secretary|CheA</span></p>
      </div>
      <div class="box3" onmouseover="change3()" onmouseout="revert3()">
        <p class="number">3</p>

        <p class="el">Pm</p>
        <p class="name">Prafull Mordia<br><span class="position">Additional Secretary|CheA</span></p>
      </div>
      <div class="box4" onmouseover="change4()" onmouseout="revert4()">
        <p class="number">4</p>

        <p class="el">Pc</p>
        <p class="name">Pratyusha Challa<br><span class="position">Additional Secretary|CheA</span></p>
      </div>
      <div class="box5" onmouseover="change5()" onmouseout="revert5()">
        <p class="number">5</p>

        <p class="el">Dr</p>
        <p class="name">D Renuka Sai<br><span class="position">Joint Secretary|CheA</span></p>
      </div>
      <div class="box6" onmouseover="change6()" onmouseout="revert6()">
        <p class="number">6</p>

        <p class="el">Va</p>
        <p class="name">Varun Arumugham<br><span class="position">Joint Secretary|CheA</span></p>
      </div>
      <div class="box7" onmouseover="change7()" onmouseout="revert7()">
        <p class="number">7</p>

        <p class="el">Sp</p>
        <p class="name">Shivam Prajapati<br><span class="position">Joint Secretary|CheA</span></p>
      </div>
      <div class="box8" onmouseover="change8()" onmouseout="revert8()">
        <p class="number">8</p>

        <p class="el">Sk</p>
        <p class="name">S. Karthik<br><span class="position">Joint Secretary|CheA</span></p>
      </div>
      <div class="box9" onmouseover="change9()" onmouseout="revert9()">
        <p class="number">9</p>

        <p class="el">Bs</p>
        <p class="name">Boinapally Shruti<br><span class="position">Executive Member|CheA</span></p>
      </div>
      <div class="box10" onmouseover="change10()" onmouseout="revert10()">
        <p class="number">10</p>

        <p class="el">Pr</p>
        <p class="name">Pranav<br><span class="position">Executive Member|CheA</span></p>
      </div>
      <div class="box11" onmouseover="change11()" onmouseout="revert11()">
        <p class="number">11</p>

        <p class="el">Vp</p>
        <p class="name">Ved Prakash Yadav<br><span class="position">Executive Member|CheA</span></p>
      </div>
      <div class="box12" onmouseover="change12()" onmouseout="revert12()">
        <p class="number">12</p>

        <p class="el">Kb</p>
        <p class="name">Kavya Billa<br><span class="position">Executive Member|CheA</span></p>
      </div>
      <div class="box13" onmouseover="change13()" onmouseout="revert13()">
        <p class="number">13</p>

        <p class="el">Ak</p>
        <p class="name">Anuradha Kota<br><span class="position">Executive Member|CheA</span></p>
      </div>
      <div class="box14" onmouseover="change14()" onmouseout="revert14()">
        <p class="number">14</p>

        <p class="el">Nh</p>
        <p class="name">N. Himabindu<br><span class="position">Executive Member|CheA</span></p>
      </div>
      <div class="box15" onmouseover="change15()" onmouseout="revert15()">
        <p class="number">15</p>

        <p class="el">Ks</p>
        <p class="name">Krupa Sreyasi<br><span class="position">Executive Member|CheA</span></p>
      </div>
      <div class="box16" onmouseover="change16()" onmouseout="revert16()">
        <p class="number">16</p>

        <p class="el">Sk</p>
        <p class="name">Sajal Kumar<br><span class="position">Executive Member|CheA</span></p>
      </div>
      <div class="box17" onmouseover="change17()" onmouseout="revert17()">
        <p class="number">17</p>

        <p class="el">Ch</p>
        <p class="name">Chinneti Haritha<br><span class="position">Executive Member|CheA</span></p>
      </div>
      <div class="box18" onmouseover="change18()" onmouseout="revert18()">
        <p class="number">18</p>

        <p class="el">Ar</p>
        <p class="name">Aman Raj<br><span class="position">Executive Member|CheA</span></p>
      </div>
      <div class="box19" onmouseover="change19()" onmouseout="revert19()">
        <p class="number">19</p>

        <p class="el">Pr</p>
        <p class="name">P. Rajesh Kumar<br><span class="position">Executive Member|CheA</span></p>
      </div>
      <div class="foot">
        <p>Chemical Engineering Department</p>
        <p>National Institute of Technology, Warangal</p>
        <p>&copy;&ensp;Kumar Abhishek & Shreyans Jain</p>
      </div>
      <div class="page">
        <p>8.</p>
      </div>
      <script src="{% static 'js/jquery-1.9.1.min.js' %}"></script>
      <script src="{% static 'js/jquery.hoverpanels.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/chea17team.js' %}"></script>
  </body>

</html>
