<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>IIchea 18-19</title>
    <link rel="stylesheet" href="{% static 'css/iicheteam.css' %}">
    <link rel="shortcut icon" href="{%static 'images/icon.ico' %}" >
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Unica+One" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
      <div class="rightbar">
        <br><br><br><br><br>
          <p class="content">"Remember, teamwork begins by<br>&ensp;building trust. And the only way to do<br>&ensp;that<br>&ensp;is to overcome our<br>&ensp;need for invulnerability."<br>&emsp;&emsp;<span class="name">--Patrick Lencioni</span></p>
          <ul class="link">
          <div class="lis">
            <li><a href="{% url 'team' %}">CheA Team 18-19</a></li>
          </div>
          <div class="lis">
            <li><a href="{% url 'cheateam17' %}">CheA Team 17-18</a></li>
          </div>
          <div class="lis">
              <li><a href="{% url 'iicheteam17' %}">IIche Team 17-18</a></li>
          </div>

          </ul>
      </div>
      <div class="heading">
        <h2 class="main">Elem<br>&ensp;ents<span class="sub">TEAM</span></h2>
      </div>
      <div class="box1" onmouseover="change1()" onmouseout="revert1()">
        <p class="number">1</p>
        <p class="el">Pr</p>
        <a href="mailto:"><p class="name">Pranav<br><span class="position">Secretary|IIche</span></p></a>
      </div>
      <div class="box2" onmouseover="change2()" onmouseout="revert2()">
        <p class="number">2</p>

        <p class="el">Ab</p>
          <a href="mailto:"><p class="name">Apurva Bhardawaj<br><span class="position">Joint Secretary|IIche</span></p></a>
      </div>
      <div class="box3" onmouseover="change3()" onmouseout="revert3()">
        <p class="number">3</p>

        <p class="el">Sk</p>
          <a href="mailto:"><p class="name">Sajal Kumar<br><span class="position">Treasurer|IIche</span></p></a>
      </div>
      <div class="box4" onmouseover="change4()" onmouseout="revert4()">
        <p class="number">4</p>

        <p class="el">Rs</p>
          <a href="mailto:"><p class="name">Ramchandruni Sai Sree<br><span class="position">Executive Member|IIche</span></p></a>
      </div>
      <div class="box5" onmouseover="change5()" onmouseout="revert5()">
        <p class="number">5</p>

        <p class="el">Vg</p>
          <a href="mailto:"><p class="name">Vaibhav Goyal<br><span class="position">Executive Member|IIche</span></p></a>
      </div>
      <div class="box6" onmouseover="change6()" onmouseout="revert6()">
        <p class="number">6</p>

        <p class="el">Sj</p>
          <a href="mailto:"><p class="name">Shreyansh Jain<br><span class="position">Executive Member|IIche</span></p></a>
      </div>
      <div class="foot">
        <p>CHEMICAL ENGINEERING DEPARTMENT</p>
        <p>NATIONAL INSTITUTE OF TECHNOLOGY,WARANGAL</p>
        <p>&copy;&ensp;Kumar Abhishek & Shreyansh</p>
      </div>
      <div class="page">
        <p>9.</p>
      </div>
      <script src="{% static 'js/jquery-1.9.1.min.js' %}"></script>
      <script src="{% static 'js/jquery.hoverpanels.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/iiche18team.js' %}"></script>
  </body>
</html>
