*{
  margin: 0px;
  padding: 0px;
}

.techfont{
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  margin-bottom: 10px;
}
.postdate{
  text-align: center;
}
.date{
  font-family: 'Open Sans', sans-serif;
  margin-left: 500px;
}
.posttitle{
  font-family: 'Open Sans', sans-serif;
  font-size: 100px;
  margin-top: 80px;
  text-align: center;
  margin-left: 400px;
}

.postcontent{
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  margin-top: 100px;
}
.pc{
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  margin-left: 100px;
  word-spacing: 5px;
  padding-left: 14px;
  width: 140%;
  /* background: url("https://static8.depositphotos.com/1000401/936/i/950/depositphotos_9361048-stock-photo-parchment-paper-background-texture.jpg"); */
}
.pc::first-letter{
  font-size: 60px;
  font-weight: bold;
  padding-left: 100px;
}
.centerstage{
  margin-left: auto;
  margin-right: auto;
}

.btn-comment{

  margin-left: 1000px;
  right: 0px;
}

.navbar-default .navbar-brand {
  font-size:40px;
  font-weight: lighter;
  color:#bb7ebc;
  font-family: 'Lato', sans-serif;
  float: left;
  margin-left: 17px;
  padding-left: 23px;
  transition: ease-in-out 0.3s;
}

.navbar-default .navbar-brand:hover{
  transform: scale(1.02);
}
.navbar-default .navbar-nav > li > a {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: black;
    text-shadow: 1px 1px 1px blue;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #18cee2;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #18cee2;
    background: inherit;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #18cee2;
    background: inherit;
}
.navbar-default {
    background-color: inherit;
    border: none;
}
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: black;
    border-bottom-color: black;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color:  #18cee2;
    border-bottom-color:  #18cee2;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color:  #18cee2;
    border-bottom-color:  #18cee2;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a{
  color: black;
  font-family: 'Mirza';
  font-size: 17px;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover{
  color:#18cee2;
}
