*{
  margin:0px;
  padding:0px;
}
.navbar-default .navbar-nav > li > a {
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    color: black;
}
.navbar-default .navbar-brand {
  font-size:40px;
  color:#bb7ebc;
  font-weight: lighter;
  font-family: 'Lato', sans-serif;
  float: left;
  margin-left: 17px;
  padding-left: 23px;
  transition: ease-in-out 0.3s;
}
.navbar-default .navbar-brand:hover{
  transform: scale(1.02);
}
.navbar-default .navbar-nav > li > a {
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    color: black;
    text-shadow: 1px 1px 1px blue;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #18cee2;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #18cee2;
    background: inherit;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #18cee2;
    background: inherit;
}
.navbar-default {
    background-color: inherit;
    border: none;
}
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: black;
    border-bottom-color: black;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color:  #18cee2;
    border-bottom-color:  #18cee2;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color:  #18cee2;
    border-bottom-color:  #18cee2;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a{
  color: black;
  font-family: 'Mirza', cursive;
  font-size: 18px;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover{
  color:#18cee2;
}
.calendar{
  font-size: 50px;
  margin-left: 30px;
}
.year{
  margin-left: 80px;
  margin-top: 80px;
  color: #b0b0ba;
  font-family: 'Sorts Mill Goudy', serif;
}
.content{
  margin-top: 80px;
  margin-left: 80px;
  font-size: 30px;
  text-align: justify;
  margin-right: 50px;
  font-family: 'Crimson Text', serif;
}
.image{
  margin-left: 450px;
  margin-top: 80px;
}
.imgs{
  height: 500px;
  width: 500px;
}
.foot{
  margin-top: 300px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  color: #b0b0ba;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
